In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('C:\\Users\\eobuobi\\trial\\nlp_project\\data\\final\\smsspamcollection.tsv', sep='\t')

In [3]:
df.head()

  label                                            message  length  punct
0   ham  Go until jurong point, crazy.. Available only ...     111      9
1   ham                      Ok lar... Joking wif u oni...      29      6
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...     155      6
3   ham  U dun say so early hor... U c already then say...      49      6
4   ham  Nah I don't think he goes to usf, he lives aro...      61      2

In [5]:
df.isnull().sum()

label      0
message    0
length     0
punct      0
dtype: int64

In [6]:
len(df)

5572

In [8]:
df['label'].unique()

array(['ham', 'spam'], dtype=object)

In [9]:
df['label'].value_counts()

ham     4825
spam     747
Name: label, dtype: int64

In [12]:
from sklearn.model_selection import train_test_split

In [14]:
X= df[['length', 'punct']]
y= df['label']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [15]:
X_train.shape

(3900, 2)

In [20]:
X_test

      length  punct
3245     147     14
944      116      1
1044     102      3
2484      45      0
812      112      4
...      ...    ...
2505     160     10
2525      99      5
4975      62      5
650       97     11
4463      95      4

[1672 rows x 2 columns]

In [17]:
y_train.shape

(3900,)

In [19]:
y_test

3245     ham
944      ham
1044     ham
2484     ham
812      ham
        ...
2505     ham
2525    spam
4975     ham
650     spam
4463     ham
Name: label, Length: 1672, dtype: object

In [21]:
from sklearn.linear_model import LogisticRegression

In [22]:
lr_model = LogisticRegression(solver='lbfgs')

In [23]:
lr_model.fit(X_train, y_train)

LogisticRegression()

In [24]:
from sklearn import metrics

In [25]:
predictions = lr_model.predict(X_test)

In [26]:
predictions

array(['ham', 'ham', 'ham', ..., 'ham', 'ham', 'ham'], dtype=object)

In [27]:
y_test

3245     ham
944      ham
1044     ham
2484     ham
812      ham
        ...
2505     ham
2525    spam
4975     ham
650     spam
4463     ham
Name: label, Length: 1672, dtype: object

In [31]:
df = pd.DataFrame(metrics.confusion_matrix(y_test, predictions), index=['ham','spam'], columns=['ham', 'spam'])

In [32]:
df

       ham  spam
ham   1404    44
spam   219     5

In [33]:
print(metrics.classification_report(y_test, predictions))

              precision    recall  f1-score   support

         ham       0.87      0.97      0.91      1448
        spam       0.10      0.02      0.04       224

    accuracy                           0.84      1672
   macro avg       0.48      0.50      0.48      1672
weighted avg       0.76      0.84      0.80      1672

In [34]:
print(metrics.accuracy_score(y_test, predictions))

0.8427033492822966

In [35]:
from sklearn.naive_bayes import MultinomialNB

In [37]:
nb_model = MultinomialNB()


nb_model.fit(X_train, y_train)

predictions = nb_model.predict(X_test)

print(metrics.confusion_matrix(y_test, predictions))

print(metrics.classification_report(y_test, predictions))

print(metrics.accuracy_score(y_test, predictions))

[[1438   10]
 [ 224    0]]
              precision    recall  f1-score   support

         ham       0.87      0.99      0.92      1448
        spam       0.00      0.00      0.00       224

    accuracy                           0.86      1672
   macro avg       0.43      0.50      0.46      1672
weighted avg       0.75      0.86      0.80      1672

0.8600478468899522

In [38]:
from sklearn.svm import SVC

In [43]:
svc_model = SVC(gamma='auto')

In [44]:
svc_model.fit(X_train, y_train)

SVC(gamma='auto')

In [47]:
predictions = svc_model.predict(X_test)

In [48]:
print(metrics.confusion_matrix(y_test, predictions))

print(metrics.classification_report(y_test, predictions))

print(metrics.accuracy_score(y_test, predictions))

[[1373   75]
 [ 121  103]]
              precision    recall  f1-score   support

         ham       0.92      0.95      0.93      1448
        spam       0.58      0.46      0.51       224

    accuracy                           0.88      1672
   macro avg       0.75      0.70      0.72      1672
weighted avg       0.87      0.88      0.88      1672

0.8827751196172249